::placeholder {
  color: var(--border);
  font-style: italic;
}

.articles-search-component {
  width: 100%;
  margin-bottom: 30px;
}

.articles-search-component .search-box {
  width: 100%;
  display: flex;
}
.articles-search-component .search-box input {
  flex: 1;
  height: 36px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 16px;
  padding: 0px 10px;
}

.articles-search-component .search-box input:focus {
  outline: none;
}

.articles-search-component .tags {
  width: 100%;
  display: flex;
}

.articles-search-component .tags .tag {
  margin: 5px;
}

