.extra-info-component {
  padding: 10px;
  border-left: 5px solid white;
  border-radius: 10px;
  margin: 18px 0;
}

.extra-info-component .title {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 5px;
}

.green {
  background-color: rgba(205, 255, 190, 0.75);
  border-color: rgb(89, 141, 73);
  color: black;
}

.yellow {
  background-color: rgba(255, 254, 190, 0.75);
  border-color: rgb(230, 227, 95);
  color: black;
}

.red {
  background-color: rgba(255, 190, 190, 0.75);
  border-color: rgb(255, 73, 73);
  color: black;
}
