:root {
  --primary: #fff;
  --secondary: #f3f3f3;
  --accent: #55b8ff;
  --on-primary: #000;
  --on-primary: #000;
  --on-accent: #fff;
  --shadow: rgba(0, 0, 0, 0.25);
}

.shadow {
  box-shadow: 0px 1px 4px var(--shadow);
}

.link:link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
